APP_NAME="Kisan Mart"
APP_ENV=local
APP_KEY=base64:fdsIf7Ny8+7mmzSV5ZiSS/WhQ0/5bAE8HZpsi3oRUMQ=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8001

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kisan_mart
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=480

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtppro.zoho.com
MAIL_PORT=587
MAIL_USERNAME=customersupport@kisanmart.com
MAIL_PASSWORD=kathmandu@123
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=customersupport@kisanmart.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_RECAPTCHA_KEY_v3=
GOOGLE_RECAPTCHA_SECRET_v3=
GOOGLE_RECAPTCHA_KEY_V2=
GOOGLE_RECAPTCHA_SECRET_V2=

USER_GUIDE="https://docs.google.com/document/d/13RgOY6Ed0Xy4r15BnJLFfTES9xJTBcd2LFrNA5DX-Fg/edit?usp=sharing"

ANALYTICS_VIEW_ID=257025823

TWITTER_HANDLE=@kisan_mart